* {
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
}
/* hor-nav-bar */
header {
	background-color: #eee;
}
header , .hor-nav-bar2{
	margin: 0;
	padding: 5px 0 0 0;
	border-bottom: 1px solid #ddd;
}

.hor-nav-bar img, form, button, .hor-nav-bar2 li{
	float: left;
}
.hor-nav-bar button{
	width: 35px;
	height: 36px;
	border-radius: 1px;
	border: 0px solid ;
	background-color: hsl(220, 100%, 60%);
}
.hor-nav-bar input:hover {
	border: 1px solid #aaa;
}
.hor-nav-bar input:focus {
	border: 1px solid blue;
}
.hor-nav-bar input {
	width: 600px;
	height: 35px;
	border: 1px solid #ddd;
}
.hor-nav-bar img {
	width: 90px;
	height: 30px;
	margin: 8px 20px 8px 20px;
}
ul {
	list-style: none;
	overflow: auto;
}
.hor-nav-bar li { 
	
	float: right;
}
.hor-nav-bar a, .hor-nav-bar2 a {
	text-decoration: none;
	color: #333;
}
.hor-nav-bar2 li, .hor-nav-bar li {
	padding: 15px 20px 15px 20px;
}
.hor-nav-bar2 li:first-child {
	margin-left: 8%;
}
#current {
	border-bottom: 4px solid hsl(220, 100%, 60%);
	padding: 0 10px;
	padding-bottom: 11px;
  
}
.content {
	margin-left: 10%;
	margin-right: 50%;


}
.content li {
	margin: 30px 0;
}

.sublink {
	color: hsl(120, 50%, 30%);
}

.related table {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
td, th{
	padding: 10px;
}
